<div class="container-fluid pr-header-image">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-4 faz-column">
            <div class="container-fluid">

                <!-- Profile card -->
                <div class="card profile-name mb-3 mt-3 text-center" style="max-width: 18rem;">
                    <div class="card-header"><h2>Fazeel Ahmed</h2></div>
                    <div class="card-body">
                      <h5 class="card-title">Full Stack Developer</h5>
                    </div>
                  </div>

                  <table class="table table-borderless" style="color: aliceblue;">
                    <thead>
                      <tr>
                        <th scope="col"><a href="{{phone}}" class="fas fa-phone header-icon"></a></th>
                        <th scope="col"><a href="{{email}}" class="fas fa-envelope header-icon" ></a></th>
                        <th scope="col"><a href="{{facebook}}" class="fab fa-facebook header-icon" ></a></th>
                        <th scope="col"><a href="{{instagram}}" class="fab fa-instagram header-icon" ></a></th>
                      </tr>
                    </thead>
                </table>
                
            </div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-3  intro-column">

          <table class="table table-borderless hobby" style="color: aliceblue;">
            <tbody>
              <tr>
                <th scope="col"><i class="fab fa-playstation"> Fifa Gamer</i></th>
              </tr>
              <tr>
                <th scope="col"><i class="fas fa-futbol"> Red Devil Fan</i></th>
              </tr>
              <tr>
                <th scope="col"><i class="fas fa-flag"> Proud Indian</i></th>
              </tr>
              <tr>
                <th scope="col"><i class="fas fa-passport"> Travel Enthusiast</i></th>
              </tr>
              
            </tbody>
        </table>
          
        </div>
        <div class="col-lg-4 col-md-3 col-sm-3 pic-column ">
            <div class="container-fluid">
                <div class="text-center">
                    <img src="../../../assets/Images/FAZEEL.jpg" class="profile-pic img-fluid" alt="...">
                  </div>
            </div>
        </div>
    </div>

</div>