<div class="container-fluid mainpage">

<div class="row center-placing h-100">

    <!-- First Section -->
    <div class="col-4 topic-placing">
        <div class="row">
        <div class="container-fluid">
        
        <div class="topic"><a routerLink='/professional' class="topic-word">Professional</a></div>
        
    </div>
    </div>
    </div>

    <!-- Second Section -->
    <div class="col-4 topic-placing">
        <div class="row">
        
            <div class="container-fluid">
        
                <div class="topic"><a routerLink='' class="topic-word">Travelling</a></div>
                
            </div>

    </div>
    </div>

    <!-- Third Section -->
    <div class="col-4 topic-placing">
        <div class="row">
        
            <div class="container-fluid">
        
                <div class="topic"><a routerLink='' class="topic-word">Gaming</a></div>
                
            </div>

    </div>
    </div>
</div>
