<app-header></app-header>

<div class="container-fluid professional">
    <div class="row pad-top">
        <div class="col-1">

        </div>


        <div class="col-9 resume">
            <div class="container-fluid">
                <div class="row resume-content">
                    <div class="col-4">
                        <div class="row">
                            <span class="name-text">
                                Fazeel Ahmed
                            </span>
                        </div>
                        <div class="row role-row">
                            <span class="role-text">
                                Full Stack Developer
                            </span>
                        </div>
                        <div class="row contact-icon">
                            <span class="">
                                <i class="fas fa-phone"></i>
                            </span>
                        </div>
                        <div class="row">
                            <span class="">
                                +919113559287
                            </span>
                        </div>
                        <div class="row email-icon">
                            <span class="">
                                <i class="fas fa-envelope-square"></i>
                            </span>
                        </div>
                        <div class="row">
                            <span class="">
                                faz2658@gmail.com
                            </span>
                        </div>
                        <div class="row loc-icon">
                            <span class="">
                                <i class="fas fa-map-marker-alt"></i>
                            </span>
                        </div>
                        <div class="row">
                            <span class="loc">
                                Door N0 2 Silver Oak 2 RtNagar
                                Bengaluru 560032
                            </span>
                        </div>
                    </div>


                    <div class="col-8 resume-right-content">
                        <div class="row">
                            <!-- <span class="subtopic-heading">
                                Profile
                            </span> -->


                            <div id="accordion">

                                <!-- First card Profile -->

                                <div class="card drop-full subtopic-heading">
                                    <div class="htopic" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                <span class="profile-head">Profile</span>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            To be associated with a progressive organization that gives scope to apply
                                            my skills and knowledge in
                                            the area of design and development of software applications and to obtain a
                                            challenging position with
                                            any opportunity for the growth and development of my career.
                                        </div>
                                    </div>
                                </div>

                                <!-- Second Card Profile -->

                                <div class="card drop-full subtopic-heading">
                                    <div class="htopic" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="true"
                                                aria-controls="collapseTwo">
                                                <span class="profile-head">Experience</span>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="">
                                                <span>Associate IT Consultant</span>
                                            </div>
                                            <div class="">
                                                <span>ITC INFOTECH PVT LTD</span>
                                            </div>
                                            <div class="">
                                                <span>June 2017 - Present</span>
                                            </div>
                                            <div class="">
                                                <span>Experience: </span>
                                            </div>
                                            <div class="mt-2">
                                                <span>
                                                    Achievements/Tasks
                                                </span>
                                            </div>
                                            <div class="mt-1">
                                                <div>
                                                    <span class="task">
                                                        Full Stack Developer responsible for making microservices.
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="task">
                                                        Responsible for creating Dynamic user interface.
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="task">
                                                        Engaged in useful discussions in designing the flow of the
                                                        application.
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="task">
                                                        Involved in integration of Front end and Back end Services.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Third Card Profile -->

                                <div class="card drop-full subtopic-heading">
                                    <div class="htopic" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseThree" aria-expanded="true"
                                                aria-controls="collapseThree">
                                                <span class="profile-head">Skills</span>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="container-fluid">

                                                <div class="row">
                                                    <div class="col-6">
                                                        <i class="fab fa-angular">Angular</i>
                                                    </div>
                                                    <div class="col-6">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    </div>
                                                </div>

                                                <div class="row mt-2">
                                                    <div class="col-6">
                                                        <i class="fas fa-seedling"> <span> Spring-Boot</span></i>
                                                    </div>
                                                    <div class="col-6">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    </div>
                                                </div>

                                                <div class="row mt-2">
                                                    <div class="col-6">
                                                        <i class="fas fa-concierge-bell"><span> Microservices</span></i>
                                                    </div>
                                                    <div class="col-6">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    </div>
                                                </div>


                                                <div class="row mt-2">
                                                    <div class="col-6">
                                                        <i class="fas fa-helicopter"><span> Kafka</span></i>
                                                    </div>
                                                    <div class="col-6">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    </div>
                                                </div>

                                                <div class="row mt-2">
                                                    <div class="col-6">
                                                        <i class="fab fa-github"><span> Git</span></i>
                                                    </div>
                                                    <div class="col-6">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    </div>
                                                </div>


                                                <div class="row mt-2">
                                                    <div class="col-6">
                                                        <i class="fab fa-bootstrap"><span> Bootstrap</span></i>
                                                    </div>
                                                    <div class="col-6">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    </div>
                                                </div>


                                                <div class="row mt-2">
                                                    <div class="col-6">
                                                        <i class="fab fa-css3-alt"><span> CSS</span></i>
                                                    </div>
                                                    <div class="col-6">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    </div>
                                                </div>

                                                <div class="row mt-2">
                                                    <div class="col-6">
                                                        <i class="fab fa-aws"><span> AWS</span></i>
                                                    </div>
                                                    <div class="col-6">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    </div>
                                                </div>
                                                
                                                <div class="row mt-2">
                                                    <div class="col-6">
                                                        <i class="fab fa-docker"><span> Docker</span></i>
                                                    </div>
                                                    <div class="col-6">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    </div>
                                                </div>

                                                <div class="row mt-2">
                                                    <div class="col-6">
                                                        <i class="fab fa-java"><span> Java</span></i>
                                                    </div>
                                                    <div class="col-6">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Fourth Card Profile -->

                                <div class="card drop-full subtopic-heading">
                                    <div class="htopic" id="headingFour">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseFour" aria-expanded="true"
                                                aria-controls="collapseFour">
                                                <span class="profile-head">Education</span>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour"
                                        data-parent="#accordion">
                                        <div class="jumbotron mca-content">
                                            <h4 class="">Master of Computer Applications </h4>
                                            <p class="lead">Acharya Institute Of Technology</p>
                                            <span> 2013-2016</span>
                                        </div>
                                        <div class="jumbotron mca-content">
                                            <h4 class="">Bachelor of Computer Applications </h4>
                                            <p class="lead">MGM College</p>
                                            <span> 2010-2013</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Fifth Card Profile -->

                                <div class="card drop-full subtopic-heading">
                                    <div class="htopic" id="headingFive">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseFive" aria-expanded="true"
                                                aria-controls="collapseFive">
                                                <span class="profile-head">Projects</span>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseFive" class="collapse show" aria-labelledby="headingFive"
                                        data-parent="#accordion">
                                        <div class="card-body project-list">
                                           <div class="project-name">Reaccess</div>
                                           <div class="client-name">Client : Santander</div>
                                           <div class="achievements">Achievements/Tasks</div>
                                           <div class="tasks">Full Stack Developer responsible for making microservices.</div>
                                           <div class="tasks">Responsible for creating Dynamic user interface.</div>
                                           <div class="tasks">Engaged in useful discussions in designing the flow of the
                                            application.</div>
                                            <div class="tasks">Involved in integration of Front end and Back end Services.</div>
                                        </div>
                                        <div class="card-body project-list mt-2">
                                            <div class="project-name">Logon & Payments</div>
                                            <div class="client-name">Client : Santander</div>
                                            <div class="achievements">Achievements/Tasks</div>
                                            <div class="tasks">Full Stack Developer responsible for making microservices.</div>
                                            <div class="tasks">Responsible for creating Dynamic user interface.</div>
                                            <div class="tasks">Engaged in useful discussions in designing the flow of the
                                             application.</div>
                                             <div class="tasks">Involved in integration of Front end and Back end Services.</div>
                                         </div>
                                    </div>
                                </div>

                                <!-- Sixth Card Profile -->

                                <div class="card drop-full subtopic-heading">
                                    <div class="htopic" id="headingFive">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseFive" aria-expanded="true"
                                                aria-controls="collapseFive">
                                                <span class="profile-head">Certifications</span>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseFive" class="collapse show" aria-labelledby="headingFive"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <i class="fas fa-certificate"></i> Certified Full Stack Developer by NIIT-Stackroute
                                        </div>
                                    </div>
                                </div>

                                <!-- Seventh Profile -->

                                <div class="card drop-full subtopic-heading">
                                    <div class="htopic" id="headingFive">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseFive" aria-expanded="true"
                                                aria-controls="collapseFive">
                                                <span class="profile-head">Languages</span>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseFive" class="collapse show" aria-labelledby="headingFive"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                           <div class="lan">English</div>
                                           <div class="lan">Hindi</div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-2">

        </div>
    </div>

</div>

<app-footer></app-footer>